<div class="container" >
    <table class="table table-dark">
    <thead>
    <tr>
        <th scope="col"><h5>Original Tweet</h5><%= @tweet.title %> -> <%= username(@tweet)%> </th></th>
    </tr>
    </thead>
    <tbody>
    <%@retweets.each do |retweet|%>
        <tr>
                <td> <%= retweet.title %>
                <br>
                @<%= username(retweet) %>
                </td>
        </tr>
    <% end %>
    </tbody>
    </table>
</div>